.container{
    display: flex;
    height: 300px;
    background: yellow;
    align-items: center;
    padding: 0px;
}

.item{
    list-style-type: none;
    width: 70px;
    height:70px;
    background: purple;
    margin-right: 10px;
    
}