.container{
    margin-top: 10px;
    display: flex;
    flex-direction: row-reverse;
}

.item{
    margin-top: 10px;
    height: 100px;
}

.green{
    background-color: green;
    flex-grow: 1;
}

.yellow{
    background-color: yellow;
    flex-grow: 2;

}

.purple{
    background-color:purple;
    flex-grow: 1;
}
