.row1{
    border: 2px solid rgba(0, 0, 255, 0.548);
    margin: 5px;
    display: inline-block;
}
  
.row2{
    background-color: orange;
}

span{
    display: inline-block;
    background-color: rgba(0, 0, 255, 0.548);
    height: 40px;
    width: 40px;
    margin: 20px;
    position: relative;
}